#landingPage {
  border: 12px solid #ffffffbf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#sqtitle {
  opacity: .75;
  width: 55%;
  padding-top: 10vh;
}

#sqtagline {
  opacity: .75;
  width: 40%;
  margin-bottom: 3vh;
}

#navCont {
  position: relative;
  top: 0;
}

#navCont #sqlogo {
  opacity: .75;
  width: 3em;
  animation: pulse 1.8s cubic-bezier(.28,0,.55,1) infinite alternate;
  transition: opacity 300ms;
}

@keyframes pulse {
  0% {transform: scale(1);}
  100% {transform: scale(1.25);}
}

#navCont #sqlogo:hover {
  opacity: 1;
  transition: opacity 300ms;
  cursor: move;
}

#navCont #sqlogo.freeze {
  animation-play-state: paused;
}

#navCont > .btn {
  height: 1.75em;
  position: absolute;
  transition: opacity 300ms;
  cursor: pointer;
}

#navCont > .fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

#navCont > .fadeIn {
  visibility: visible;
  opacity: .75;
  transition: visibility 0s linear 0s, opacity 300ms;
}

#navCont > .btn:hover {
  opacity: 1;
  transition: opacity 300ms;
}

#navCont > #btnAbout{
  left: 4em;
  top: 50%;
  transform: translateY(-50%);
}

#navCont > #btnWork{
  right: 4em;
  top: 50%;
  transform: translateY(-50%);
}

#navCont > #btnContact{
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
}
