#contact {
  z-index: 30;
  position: relative;
  background: #0442BF;
  padding: calc(4em + 10px) 10px 5px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

#contact > h1 {
  font-size: 1.4em;
  margin: 0;
  display: block;
}

#contact > p {
  display: block;
  font-size: 0.85em;
  margin: 5px 0;
}
#contact > hr {
  background: #031361;
  height: 10px;
  width: 40%;
  border: none;
  margin: 5px auto 5px auto;
}

.ctLink {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.ctLink > a {
  text-align: center;
  transition: font-size 300ms ease;
  text-decoration: none;
  color: #fff;
}
.ctLink > img {
  height: 10vh;
  margin-bottom: 5px;
  display: block;
}
.ctLink:hover > a {
  font-size: 1em;
  display: block;
}

#ctLP {
  position: absolute;
  width: 100%;
  bottom: 10px;
  font-size: 0.7em;
  left: 50%;
  transform: translateX(-50%);
}
#ctLP > a {
  display: inline-block;
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}

#copyAlert {
  position: absolute;
  top: 58vh;
  left: 50%;
  transform: translateX(-50%);
  background: #00000088;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  z-index: 60;
  text-align: center;
  font-size: 0.9em;
}

#copyAlert.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
